<?xml version='1.0'?>
<manifest xmlns:android='http://schemas.android.com/apk/res/android' package='com.kiran.addition' android:versionCode='0' android:versionName='0'>
    <uses-permission android:name="android.permission.INTERNET"/>

    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="AIzaSyAIHaWuRQhzxuayHFukPyFE_5yXpcejv1Q>"
        />

    <application android:label="${appName}">
        <activity android:name='com.kiran.addition.MainActivity'>
             <intent-filter>
                <category android:name='android.intent.category.LAUNCHER'/>
                <action android:name='android.intent.action.MAIN'/>
             </intent-filter>
        </activity>
    </application>
</manifest>
